.vscode/
tests/
__pycache__/

.env
.env.*
*.env
.env.json
*.dev.*
*.local.*
Dockerfile.dev
docker-compose.yml
run.py
notes.txt
template.yaml

*.pyc
*.pyo
*.pyd
*.log
*.egg-info
*.DS_Store
*.swp
*.swo
